html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}
