$color-black-default: #000;
$color-white-default: rgba(255, 255, 255, 1);

$color-bg-main: rgba(250, 250, 250, 1);
$color-bg-header: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
$color-bg-footer: rgba(255, 255, 255, 1);
