$color-black-default: #000;
$color-white-default: rgba(255, 255, 255, 1);

$color-bg-main: rgba(250, 250, 250, 1);
$color-bg-header: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
$color-bg-footer: rgba(255, 255, 255, 1);
$color-bg-search: rgba(57, 57, 57, 0.05);

$color-dark-text: rgba(57, 57, 57, 1);
$color-orange-text: rgba(224, 164, 73, 1);
$color-red-text: rgb(237, 4, 4);

$color-dark-border: rgba(57, 57, 57, 1);
$color-grey-border: rgba(255, 255, 255, 0.3);
$color-light-border: rgba(240, 241, 241, 1);

$color-bg-fav-orange: rgba(251, 215, 178, 0.3);
$color-bg-fav-hover: rgba(254, 172, 91, 0.3);
$color-bg-fav-active: rgba(241, 11, 11, 0.8);
$color-bg-fav-white: rgba(249, 249, 249, 1);

$color-btn-disabled: rgba(0, 0, 0, 0.5);
